.modalContainer {
    width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 24px;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .buttonContainer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  


  
  .scrollableContainer {
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 20px;
  }
  
  .productCard {
    padding: 15px;
    background-color: #f5f5f5;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
  }
  
  .cardHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  